body {
  background-color: #fbfbfd;
}

.bounce:hover {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.w-85 {
  width: 85%;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  display: none;
  transition: display 0.5s ease-out;
}

.software-name-tag {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.75rem;
  margin-right: 1rem;
  margin-top: 1rem;
  background-color: #d5e8ff;
  border-radius: 0.25rem;
  color: rgba(37, 99, 235);
}

.deleteBtn {
  margin-left: 0.5rem;
  width: 18px;
}

.deleteBtn:hover,
.software-name-tag:hover {
  cursor: pointer;
  background-color: #c6d3e2;
}

.software-list-tag {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  margin-right: 1rem;
  margin-top: 1rem;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
  color: #1a202c;
}

.software-list-tag:hover {
  cursor: pointer;
}

.software-list-tag-selected {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  margin-right: 1rem;
  margin-top: 1rem;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
  color: white;
}

.software-list-tag-selected:hover {
  cursor: pointer;
}

.host-info {
  margin-top: 0.75rem;
  padding-bottom: 0.75rem;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  border-bottom: 1px solid;
  --tw-border-opacity: 1;
  border-bottom-color: rgba(107, 114, 128, var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgba(55, 65, 81, var(--tw-text-opacity));
}

.hosts-info-background {
  --tw-bg-opacity: 1;
  border-radius: 0.25rem;
  background-color: rgba(236, 253, 245, var(--tw-bg-opacity));
}

.loader {
  margin-top: 3rem;
  margin-bottom: 1rem;
  border: 16px solid #f3f3f3;
  position: relative;
  left: 45%;
  border-radius: 50%;
  border-top: 16px solid #912338;
  border-bottom: 16px solid #cbb576;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  -webkit-animation: spin 2s linear infinite; /* Safari */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
