<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/index.css" />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>Find Me My Lab</title>
  </head>
  <body>
    <!-- Navigation bar -->
    <div class="px-10 py-5 bg-gray-900">
      <h1 class="text-2xl text-gray-100">Find Me My Lab</h1>
    </div>

    <!-- Search panel -->
    <div class="mt-12 flex justify-center">
      <div
        class="w-3/4 py-12 bg-white border border-gray-100 shadow-lg rounded-lg flex justify-center"
      >
        <div class="w-full">
          <div class="flex justify-center">
            <div class="w-1/2">
              <h2 class="text-gray-500">
                Enter the name of software to find a lab
              </h2>
            </div>
          </div>

          <!-- search bar -->
          <div class="mt-3 flex justify-center">
            <div
              class="w-1/2 relative flex border border-gray-300 rounded hover:border-gray-700 hover:shadow-md"
            >
              <img src="../static/images/search.svg" class="mx-5" />
              <input
                id="search-input"
                type="text"
                class="w-85 h-12 py-3 outline-none"
                placeholder="e.g.  MATLAB"
              />
            </div>
          </div>

          <div class="mt-3 flex justify-center">
            <div class="w-1/2">
              <h2 class="text-gray-900">Required software:</h2>
              <div id="software-chosen">
                <!-- list of software chose by users -->
              </div>
            </div>
          </div>

          <div class="mt-12 flex justify-center">
            <div class="w-1/2 flex justify-center">
              <button
                id="search-button"
                class="px-4 py-2 bg-blue-500 border border-blue-300 rounded text-white hover:bg-blue-600"
              >
                Search
              </button>
            </div>
          </div>

          <div class="mt-8 flex justify-center">
            <div
              id="full-list-expand"
              class="w-1/2 text-center border-t border-gray-500"
            >
              <p class="mt-5 cursor-pointer">See full list of software</p>
              <div class="flex justify-center cursor-pointer">
                <img
                  src="../static/images/chevron-down.svg"
                  class="mt-3 bounce"
                />
              </div>
            </div>
          </div>

          <div class="mt-8 flex justify-center">
            <div
              id="list-content"
              class="w-4/5 pb-5 content border-b border-gray-500"
            >
              <p class="ml-10 italic text-gray-400 text-sm">
                Click to select software, click again to unselect
              </p>
              <div id="software-list" class="mt-3 text-center">
                <!-- software tag goes here -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- result panel -->
    <div id="result-panel" class="mt-12 mb-40 flex justify-center">
      <div
        class="w-3/4 py-12 px-20 bg-white border border-gray-100 shadow-lg rounded-lg"
      >
        <div class="">
          <h2 class="mr-5 text-lg text-gray-900">Result for</h2>
          <div id="result-software">
            <!-- software tags go here -->
          </div>
        </div>

        <!-- Loading icon -->
        <div id="loader-container" class="text-center mb-14">
          <!-- <div class="loader"></div>
          <p class="text-xl">Logging in to ENCS lab info, please wait...</p> -->
        </div>

        <!-- list of lab room -->
        <div id="hosts-container">
          <!-- test -->
          <div
            class="mt-5 pb-3 flex justify-between items-center border-b border-gray-500 text-gray-500 italic"
          >
            <div class="w-10">
              <p>Room</p>
            </div>
            <div class="w-44">
              <p>Computer name</p>
            </div>
            <div class="w-10">
              <p>OS</p>
            </div>
            <div class="w-1/2">
              <p>SSH Tunnel</p>
            </div>
          </div>

          <!-- <div
            class="host-info"
          >
            <div class="w-10">
              H811
            </div>
            <div class="w-40 cursor-pointer">
              adrian.encs.concordia.ca
            </div>
            <div class="w-10">
              Window
            </div>
            <div class="w-1/2 cursor-pointer">
                ssh -L 3391:jensen.encs.concordia.ca:3389
                <span class="italic text-red-400">your_username</span
                >@login.encs.concordia.ca
            </div>
          </div> -->
        </div>
        <!-- end list -->
      </div>
    </div>
  </body>
  <script type="text/javascript" src="../static/script/script.js"></script>
</html>
